body {
  background-color: rgb(77, 73, 73);
}

header {
  -webkit-text-stroke: 1.2px #00ff9f;
  font-style: italic;
  font-family: serif;
  text-align: center;
  font-size: 75px;
}
#liniatxt1 {
  color: #00b8ff;
  font-size: 65px;
}
#liniatxt2 {
  color: #001eff;
  font-size: 55px;
}
#liniatxt3 {
  color: #bd00ff;
  font-size: 45px;
}
#textContainer {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  font-size: 40px;
  color: greenyellow;
  padding-top: 20px;
}
#zdj1 {
  margin-top: 15px;
}
.buttonContainer {
  height: 40px;
  width: 132px;
  margin: auto;
  padding-top: 20px;
}
.click {
  border: solid rgb(75, 6, 131) 2px;
  border-radius: 15px;
  font-size: 30px;
  color: greenyellow;
  text-align: center;
  background-color: rgb(43, 48, 43);
}
.linia {
  background-color: black;
  height: 2px;
}
